body {
  margin: 0;
}

form {
  background-color: #007bff;

  width: 100vw;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}

.label {
  margin: 0;
}

input {
  width: 350px;
  height: 35px;
  padding-left: 10px;
  margin: 0;

  border-radius: 4px;
  border-color: transparent;

  font-weight: 600;
  outline: transparent;
}

label {
  position: relative;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 41px;
  margin: 0;
  padding: 0;

  border-color: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  margin-bottom: 30px;
  padding-top: 90px;
}

.photo-card {
  width: calc((100% - 120px) / 4);
  border-radius: 4px;
  box-shadow: 0px 2px 14px -1px rgba(0, 0, 0, 0.75);

  overflow: hidden;
}

img {
  display: block;
  height: 250px;
  width: 100%;
  background-size: cover;
}

.info {
  display: flex;
  justify-content: center;
  gap: 35px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.info-item {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.info-data {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-direction: column;
}

.btn.load-more-btn {
  display: block;

  min-width: 150px;
  height: 50px;
  margin: 0 auto 30px;

  cursor: pointer;
}

.btn.is-hidden,
.spinner-border.is-hidden {
  display: none;
}
